# Data types in python

##### List<br>
##### Tuple<br>
##### Set<br>
##### Dictionaries

### List<br>
Lists are used to store multiple items in a single variable.

In [1]:
mylist = [4,7,8,9]
mylist

[4, 7, 8, 9]

#### Acess the element by index

In [2]:
mylist = [4,7,8,9]
mylist[2]

8

#### Changing the element by index

In [3]:
mylist = [4,7,8,9]
mylist[2] = 1
mylist

[4, 7, 1, 9]

#### We can use loops to visit elements of list

In [4]:
mylist = [4,7,8,9]
for x in mylist:
    print (x , end=" ")

4 7 8 9

#### We can get the values without loop

In [5]:
mylist = [4,7,8,9]
print(*mylist)

4 7 8 9

#### List with different data types

In [6]:
mylist = ["Hello", 3.14, True]
print(*mylist)

Hello 3.14 True

#### List with list

In [7]:
mylist = [[3,4,5], [6,7,8], [9,10,11]]
print(*mylist)

[3, 4, 5] [6, 7, 8] [9, 10, 11]

### Tuple<br>
Collection of objects separated by commas

In [8]:
mytuple = (2, 3, 4)
mytuple

(2, 3, 4)

#### We can acress the tuple elements

In [9]:
mytuple = (2, 3, 4)
mytuple[0]

2

#### Tuples are immutable

In [10]:
mytuple = (2, 3, 4)
mytuple[1] = 7
mytuple

TypeError: 'tuple' object does not support item assignment

#### We can get the values without loop

In [ ]:
for x in mytuple:
    print (x , end=" ")

#### We can get the values without loop

In [ ]:
print(*mytuple)

#### Tuple of list

In [ ]:
mytuple = ([2, 4, 6], [3, 6, 9], [1, 3, 5])
mytuple

#### Tuple of tuple

In [ ]:
mytuple = ((2, 4, 6), (3, 6, 9), (1, 3, 5))
mytuple

#### Tuple of different data types

In [ ]:
mytuple = ("Hello World", 3.14, True)
mytuple

### SET<br>
Sets are used to store multiple items in a single variable

In [ ]:
myset = {"car","bike", "bus", "truck","bike"}
myset

#### False and 0 , True and 1 have the are the same in set

In [ ]:
myset = {"car","bike", "bus", "truck","bike", True, 1}
myset

#### We can't acess the values directly

In [ ]:
print(myset[2])

#### To acess the code we need to keep the values of set in list

In [ ]:
mylist = list(myset)
print(mylist[2])

#### We can get the values without loop

In [ ]:
print(*myset)

#### We can get the values without loop

In [ ]:
for x in myset:
    print(x, end=" ")

#### The element of set cannot be list/tuple

In [ ]:
myset = {[1, 2, 3],[4, 5, 6],[7, 8, 9]}
myset

### Dictionaries<br>
Dictionaries are used to store data values in key:value pairs

In [ ]:
mydict = {
    "Name"    : "Aadarsh",
    "Age"     : "19",
    "Subject" : "Python"
}
mydict

#### Get the value by key

In [ ]:
print(mydict["Age"])

#### If the value by don't match

In [ ]:
print(mydict["School"])

#### We can add new key value pair to dictonary

In [ ]:
mydict["School"] = "SEAS"
mydict

#### Printing the dictonary with loop

In [ ]:
for x in mydict:
    print(x, " : ",mydict[x], end = "\n")

#### Printing the keys of dictonary without loop

In [ ]:
print(*mydict)

#### List as value of dictonary

In [ ]:
mydict = {
    "Name"      : "Aadarsh",
    "Age"       : "19",
    "Subject"   : "Python",
    "Languages" : ["Odia", "English", "Hindi"]
}
mydict

#### Dictonary is mutable

In [ ]:
mydict["Name"] = "Aadarsh Senapati"
mydict